/*브라우저에서는 기본적으로 회사마다 다르게 기본적인 body 선택자의 margin과 padding이 있다
그것을 초기화 하고 사용할 필요가 있다.
*/

body{
 margin: 0;
 padding: 0;
}
.header{
 /* 기본값으로 이렇게 들어가있다.*/
 width: auto;
 height: auto;
 /*width auto는 100% 가로가 꽉차게*/
 /*height는 늘어난 높이만큼 차지함*/

 background: yellowgreen;
}

.container{
 /*width: 980px;*/
 background: tomato;
 width: 680px;
 margin: auto;
/* margin auto는 header 요소의 중앙에 놓이도록 하는 속성*/
}
.continer-left{

}
.logo{

}
.menu{

}